# Git
.git/
.gitignore

# Документация задания
Прил_Уч_отдел - задание/

# Локальные настройки
.env
.env .example
*.md

# Composer
vendor/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Временные и отладочные файлы
_debug_*
*.py
*.pyc
__pycache__/
cookies.txt

# IDE
.vscode/
.idea/

# macOS
.DS_Store
