.git
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
storage/logs/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/data/*
storage/app/private/*
!storage/app/private/.gitignore
database/*.sqlite
.phpunit.cache
